<div class="container">
  <div class="row">
    <div class="text-center py-3">
      <%= image_tag("top.jpg", width: '95%', height: '90%') %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h6>ジャンル検索</h6>
      <% @genres.each do |genre| %>
        <ul>
          <li><%= genre.name %></li>
        </ul>
      <% end %>
    </div>
    
    
    
    
    <div class="col-md-9 text-center">
      <p>
        <h3>ようこそ、ながのCAKEへ！</h3>
        </br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
      </p>

      <div class="text-center">
        <h3>新着商品</h3>
        <% @items.each do |item| %>
        
        <% end %>
        <a href = "/items">全ての商品を見る></a>
      </div>
    </div>
  </div>
  </div>
