<div class="container px-5 px-sm-0">
  <div class="row">
    <!--<div class="col-md-3">-->
    <!--  <h6>ジャンル検索</h6>-->
    <!--  <% @genres.each do |genre| %>-->
    <!--    <ul>-->
    <!--      <li></li>-->
    <!--    </ul>-->
    <!--  <% end %>-->
    <!--</div>-->

    <div class="col-md-8 offset-md-1">
      <p>
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
      </p>

      <div>
        <h2>新着商品</h2>

        <a href = "">全ての商品を見る></a>
      </div>
    </div>


  </div>
</div>
